@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-btn{
    background: linear-gradient(149.67deg, #815CC8 29.44%, #1BABFE 81.54%);
    box-shadow: 0px 8px 30px 0px #1BABFE;

}
.second-btn:hover{
     background: linear-gradient(149.67deg, #815CC8 29.44%, #1BABFE 81.54%);
    box-shadow: 0px 8px 30px 0px #1BABFE;
    transition: all ease 300ms;
}